<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../helpers/shared-styles.html">
<link rel="import" href="../elements/credit.html">

<dom-module id="credits">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>
    <credit name="wSedlacek" credit="Web Designer" link=""></credit>
    <credit name="Snrk" credit="API Creator" link=""></credit>
  </template>

  <script>
    class Credits extends Polymer.Element {
      static get is() { return 'credits'; }
    }

    window.customElements.define(Credits.is, Credits);
  </script>
</dom-module>
