<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">

<link rel="import" href="../helpers/shared-styles.html">
<link rel="import" href="../elements/ygo-deck.html">

<dom-module id="deck-editor">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 5px;
      }
      #addCardInput {
        display: inline-block;
        width: 100%;
      }
      #sideDeckToggle {
        display: inline-block;
        width: 46px;
      }
      #addCardButton {
        float: right;
        width: 40px;
      }
      .deck {
        width: 100%;
        display: inline-block;
      }
      @media only screen
      and (min-width : 1200px) {
        #main {
          width: 50%;
          float: left;
        }
        #extra{
          width: 50%;
          float: right;
        }
        #side {
          width: 50%;
          float: right;
        }
      }
    </style>
    <div class="card">
      <paper-input id="addCardInput"
                  always-float-label
                  label="[[addLabel]]"
                  on-keydown="_keyDown"
                  on-keyup="_keyUp"
                  value="{{cardToAdd}}"
                  autofocus>
      </paper-input>
      <paper-toggle-button id="sideDeckToggle" checked="{{useSideDeck}}" on-click="_toggleShiftForSideDeck"></paper-toggle-button>
      <paper-icon-button id="addCardButton" icon="add" on-click="_addCard"></paper-icon-button>
    </div>
    <div class="deck" id="main">
      <ygo-deck deck="main"></ygo-deck>
    </div>
    <div class="deck" id="extra">
      <ygo-deck deck="extra"></ygo-deck>
    </div>
    <div class="deck" id="side">
      <ygo-deck deck="side"></ygo-deck>
    </div>
  </template>

  <script>
    var enter = 13;
    var shift = 16;
    class DeckEditor extends Polymer.Element {
      _changeAddLabel(newValue, oldValue) {
        this.addLabel = newValue ?  "Add a card to the side deck... Enter a Card Name or ID" : "Add a card... Enter a Card Name or ID";
      }

      _toggleShiftForSideDeck(e) {
        this.shiftForSideDeck = this.useSideDeck;
      }

      _keyDown(e) {
        if (e.keyCode == enter) {
          this._addCard(e);
        } else if (e.keyCode == shift && this.shiftForSideDeck) {
          this.useSideDeck = true;
        }
      }

      _keyUp(e) {
        if (e.keyCode == shift && this.shiftForSideDeck) {
          this.useSideDeck = false;
        }
      }

      _addCard(e) {
        document.dispatchEvent(new CustomEvent('add-card', {detail: {card: this.cardToAdd, deck: this.useSideDeck ? "side" : "main"}}));
      }

      static get is() { return 'deck-editor'; }

      static get properties() {
        return {
          addLabel: {
            type: String,
            value: 'Add a card... Enter a Card Name or ID'
          },
          cardToAdd: {
            type: String,
            value: ''
          },
          shiftForSideDeck: {
            type: Boolean,
            value: true
          },
          useSideDeck: {
            type: Boolean,
            value: false,
            observer: '_changeAddLabel'
          }
        };
      }
    }

    window.customElements.define(DeckEditor.is, DeckEditor);
  </script>
</dom-module>
