<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-menu-button/paper-menu-button.html">


<link rel="import" href="deck-editor.html">
<link rel="import" href="deck-preview.html">
<link rel="import" href="deck-stats.html">
<link rel="import" href="deck-pricing.html">

<link rel="lazy-import" href="card-search.html">
<link rel="lazy-import" href="web-credits.html">
<link rel="lazy-import" href="error-404.html">

<!--Dialong Boxes-->
<link rel="import" href="../dialogs/add-bulk.html">
<link rel="import" href="../dialogs/card-info.html">
<link rel="import" href="../dialogs/processing-data.html">
<link rel="import" href="../dialogs/rename-deck.html">



<!--Deck Manager Backend-->
<link rel="import" href="../helpers/complete-deck-manager.html">


<dom-module id="deck-builder">
  <template>
    <style>
      :host {
        --app-primary-color: #4285f4;
        --app-secondary-color: black;
        display: block;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }
      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
      }
      #overlay{
        position:fixed;
        width:100%;
        height:100%;
        top:0;
        left:0;
      }
    </style>
    <div id="overlay">
      <app-location route="{{route}}" url-space-regex="^[[rootPath]]"></app-location>
      <app-route
          route="{{route}}"
          pattern="[[rootPath]]:page"
          data="{{routeData}}"
          tail="{{subroute}}"></app-route>

      <app-drawer-layout fullbleed narrow="{{narrow}}">
        <!-- Drawer content -->
        <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]">
          <app-toolbar>Menu</app-toolbar>
          <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
            <a name="deck-editor" href="[[rootPath]]deck-editor">Editor</a>
            <a name="deck-preview" href="[[rootPath]]deck-preview">Preview</a>
            <a name="deck-stats" href="[[rootPath]]deck-stats">Statistics</a>
            <a name="deck-pricing" href="[[rootPath]]deck-pricing">Pricing</a>
            <a name="card-search" href="[[rootPath]]card-search">Search</a>
            <a name="web-credits" href="[[rootPath]]web-credits">Credits</a>
          </iron-selector>
        </app-drawer>

        <!-- Main content -->
        <app-header-layout has-scrolling-region>

          <app-header slot="header" condenses reveals effects="waterfall">
            <app-toolbar id="actionMenu">
              <paper-icon-button id="drawerMenu" icon="menu" drawer-toggle></paper-icon-button>
            </app-toolbar>
          </app-header>

          <iron-pages
              selected="[[page]]"
              attr-for-selected="name"
              fallback-selection="error-404"
              role="main">
            <deck-editor name="deck-editor"></deck-editor>
            <deck-preview name="deck-preview"></deck-preview>
            <deck-stats name="deck-stats"></deck-stats>
            <deck-pricing name="deck-pricing"></deck-pricing>
            <card-search name="card-search"></card-search>
            <web-credits name="web-credits"></web-credits>
            <error-404 name="error-404"></error-404>
          </iron-pages>
        </app-header-layout>
      </app-drawer-layout>
    </div>

    <!--Diaglogs-->
    <add-bulk></add-bulk>
    <card-info></card-info>
    <processing-data></processing-data>
    <rename-deck></rename-deck>

    <!--Backend-->
    <complete-deck-manager></complete-deck-manager>
  </template>

  <script>
    class DeckBuilder extends Polymer.Element {
      static get is() { return 'deck-builder'; }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          deckname: {
            type: String,
            value: 'Untitled',
            observer: '_populateActionMenu'
          },
          routeData: Object,
          subroute: String,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      ready() {
        super.ready();
        var reference = this;
        window.onresize = function() {reference._populateActionMenu();};
        document.addEventListener('dialog-overlay', e => this._blurBackground(e));
        document.addEventListener('rename-deck', e => this._renameDeck(e));
      }

      _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Deault to 'view1' in that case.
        this.page = page || 'deck-editor';

        // Close a non-persistent drawer when the page & route are changed.
        if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }
      }

      _pageChanged(page) {
        // Load page import on demand. Show 404 page if fails
        var resolvedPageUrl = this.resolveUrl(page + '.html');
        Polymer.importHref(
            resolvedPageUrl,
            null,
            this._showPage404.bind(this),
            true);
      }

      _populateActionMenu() {
        while (this.$.actionMenu.childNodes.length > 2) {
          this.$.actionMenu.removeChild(this.$.actionMenu.lastChild);
        }

        var items = [
          {
            name: 'Rename Deck',
            icon: 'create',
            onclick: this._showRenameDeck,
            beforeName: true,
            overflowPiority: 1
          },
          {
            name: 'Sort Deck',
            icon: 'sort',
            onclick: this._sortAllDecks,
            beforeName: false,
            overflowPiority: 1
          },
          {
            name: 'Add Cards',
            icon: 'file-upload',
            onclick: this._showAddBulk,
            beforeName: false,
            overflowPiority: 3
          },
          {
            name: 'Download Deck',
            icon: 'file-download',
            onclick: this._downloadYDK,
            beforeName: false,
            overflowPiority: 3
          },
          {
            name: 'Clear Deck',
            icon: 'delete',
            onclick: this._clearAllDecks,
            beforeName: false,
            overflowPiority: 4
          }
        ]

        var width = window.innerWidth
        || document.documentElement.clientWidth
        || document.body.clientWidth;
        var overflow = 0;
        while (width < 800) {
          width+=180;
          overflow++;
        }

        var isBeforeName = true;
        var overlowMenu = [];
        items.forEach(function(item) {
          if (!item.beforeName && isBeforeName) {
            var name = document.createElement('div');
            name.setAttribute('main-title', '');
            name.innerHTML = this.deckname;
            this.$.actionMenu.appendChild(name);
            isBeforeName = false;
          }
          if (item.overflowPiority > overflow) {
            var menuItem     = document.createElement('paper-icon-button');
            menuItem.icon    = item.icon;
            menuItem.onclick = item.onclick;
            this.$.actionMenu.appendChild(menuItem);
          } else {
            overlowMenu.push(item);
          }
        }, this);

        if (overlowMenu[0] != null) {
          var overflowMenuContainer = document.createElement('paper-menu-button');
          overflowMenuContainer.setAttribute('horizontal-align', 'right');
          overflowMenuContainer.setAttribute('vertical-align', 'bottom');
          overflowMenuContainer.style = 'padding: 0;'
          var overflowMenuButton    = document.createElement('paper-icon-button');
          overflowMenuButton.icon   = 'more-vert';
          overflowMenuButton.slot   = 'dropdown-trigger';
          overflowMenuButton.alt    = 'menu align';
          var overflowMenuList      = document.createElement('div');
          overflowMenuList.slot     = 'dropdown-content';
          overflowMenuList.style    = 'position: fixed; top: 10px; right: 20px; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); border-radius: 2px;background-color: #fff;'
          overlowMenu.forEach(function(item) {
            var menuItem       = document.createElement('paper-button');
            menuItem.innerHTML = item.name;
            menuItem.onclick   = function(){item.onclick(); overflowMenuContainer.close();}
            menuItem.style = "display: block; text-align: center; color: #000; font-size: 14px;"
            overflowMenuList.appendChild(menuItem);
          }, this);
          overflowMenuContainer.appendChild(overflowMenuButton);
          overflowMenuContainer.appendChild(overflowMenuList);
          this.$.actionMenu.appendChild(overflowMenuContainer);
        }
      }

      _showPage404() {
        this.page = 'error-404';
      }

      _showRenameDeck() {
        document.dispatchEvent(new CustomEvent('show-rename-deck', {detail: {deckname: this.deckname}}));
      }

      _sortAllDecks() {
        document.dispatchEvent(new CustomEvent('sort-all-decks'));
      }

      _showAddBulk() {
        document.dispatchEvent(new CustomEvent('show-add-bulk'));
      }

      _downloadYDK() {
        document.dispatchEvent(new CustomEvent('download-ydk', {detail: {deckname: this.deckname}}));
      }

      _clearAllDecks() {
        document.dispatchEvent(new CustomEvent('clear-all-decks'));
        document.dispatchEvent(new CustomEvent('rename-deck', {detail: {deckname: "Untitled"}}));
      }

      _blurBackground(e) {
        var overlay = this.$.overlay;
        var blurAttribute = 'opacity: 0.8; -webkit-filter: blur(2px); -moz-filter: blur(2px); -o-filter: blur(2px); -ms-filter: blur(2px); filter: blur(2px);';
        overlay.setAttribute('style', e.detail.blur ? blurAttribute: '');
      }

      _renameDeck(e) {
        if (e.detail.deckname != null)
          this.deckname = e.detail.deckname;
      }
    }

    window.customElements.define(DeckBuilder.is, DeckBuilder);
  </script>
</dom-module>
