<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../elements/ygo-deck-img.html">
<link rel="import" href="../helpers/shared-styles.html">

<dom-module id="deck-preview">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>
    <ygo-deck-img deck="main"  size="288"></ygo-deck-img>
    <ygo-deck-img deck="extra" size="84" ></ygo-deck-img>
    <ygo-deck-img deck="side"  size="84" ></ygo-deck-img>
  </template>

  <script>
    class DeckPreview extends Polymer.Element {
      static get is() { return 'deck-preview'; }
    }

    window.customElements.define(DeckPreview.is, DeckPreview);
  </script>
</dom-module>
