<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../helpers/shared-styles.html">
<link rel="import" href="../elements/credit-entry.html">

<dom-module id="web-credits">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>
    <credit-entry name="wSedlacek" credit="Web Designer" link="https://www.github.com/wSedlacek"></credit-entry>
    <credit-entry name="AntiMetaMan" credit="Card Art" link="https://www.github.com/shadowfox87"></credit-entry>
    <credit-entry name="Google Inc." credit="Polymer Creator" link="https://www.polymer-project.org"></credit-entry>
    <credit-entry name="Snrk" credit="API Creator" link="https://www.github.com/jonasgit"></credit-entry>
  </template>

  <script>
    class WebCredits extends Polymer.Element {
      static get is() { return 'web-credits'; }
    }

    window.customElements.define(WebCredits.is, WebCredits);
  </script>
</dom-module>
